*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
    margin-left: 50px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px ;
    /* height: 92px; */
    width: 100%;
}

 .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
        
    
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000; 
    margin-left: 200px; 
    display: block;
    text-align: center;
}
nav .menu .btn{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    
    
}
.btn{
    background-color:#30B868;   
    border-radius: 4px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    
    
}

/* banner */

.banner{
    background-image: url(assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;  
    background-size: cover;
    background-repeat: no-repeat;
   
    width: 100%;
    height: 660px;
    
}



.highlight  {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #30B868;
    border: 1px solid;
    border-radius: 20px;
     width: 229px;
    height: 35px; 
    padding-top: 10px;
    margin-left: 550px;
    margin-bottom: 20px;
    margin-right: 550px;
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.green-h1{
    color: #30B868;
    font-weight: bold;
    font-size:72px;
}

.p1{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding-top:16px ;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
    padding-top:32px ;  
    color: #FFFFFF;
    

}

.btn1{
    background-color: #30B868;
    border: none;
    border-radius: 2px ;
    padding: 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 13px 25px ;
    color: #FFFFFF;
    cursor: pointer;
}

 
#info .info-container{
   max-width: 1360px;
   width: 80%;
   margin: 0 auto ;
}

.section-heading{
     margin-left: 120px;
    margin-right: 120px; 
    text-align: center;
    margin-top:80px ;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

#info .info-container .info-box{
    display: flex; 
    gap: 24px;
    text-align: center;
}

.info-box .info-card{
     padding: 145px 48px 125px 24px; 
}
.info-card p{
    margin-top: 10px;
    color: #627382;
    font-size: 16px;
}
.info-card img{
    max-width: 60px;
    margin-bottom: 16px; 
    background-color: #e43434;
    border-radius: 25px;
    padding: 9px;
}
.info-card h3{
    margin-bottom: 16px;
    color:#001931 ;
    font-size: 16px;
}


.second-banner-content{
     flex: 10;
     padding-left: 600px; 
     margin-top: 30px; 
     padding-top: 20px;
     
     
}

  .second-banner-content-list li{
   list-style: none;
   padding-left: 600px;
  
   
}
 #second-banner{
    display: flex;
    justify-content: right;
    margin: 20px; 
 }
 .fix{
    margin-top: 100px;
    margin-right: 50px;
    padding-bottom: 220px;
    margin-right: 90px;
    
    
 }

 .second-banner-image img{
    margin-left: 150px;
 }

#early-ac .discription {
    text-align: center;
    
}
#early-ac .discription h2{
    color: #001931;
    font-weight: bold;
    margin: 16px;
    font-size: 40px;
    font-weight: bold;
}
#early-ac .discription p{
    color: #627382;
    margin-bottom: 24px;
}
#early-ac .discription .btn-1{
    color: #FFFFFF;
    background-color: #30B868;
    padding: 8px;
    margin-bottom:16px ;
    border-radius: 4px;
    border: 0 solid white;
}
#early-ac .discription .btn-1 img{
  height: 15px;
  width: 15px;
  cursor: pointer;

}
#early-ac .discription .p-fix{
    padding-bottom: 200px;
}

.footer-imgs{
    background-color:#001931 ;
    padding: 120px 120px 165px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-imgs p{
    color: #FFFFFF;
    font-size: medium;
    font-weight: 20px;
}

.end-info{
    padding: 30px 120px 30px 120px;
    background-color: #001931;
    color: #FAFAFA;
    text-align: center;
}

.second-banner-content h6{
    padding-bottom: 10px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}
.second-banner-content h2 {
    padding-bottom: 16px;
    color: #001931;
}
.second-banner-content p {
    padding-bottom: 29px;
    color: #627382;
}
.section-heading p{
    color: #627382;
}
.section-heading h2{
    font-weight: bold;
    padding-bottom: 16px ;
    font-size: 48px;
}
.white-h1{
    font-weight: bold;
    font-size: 72px;
}

