*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px ;
    height: 92px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    
   
}
nav .menu .btn{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.btn{
    background-color:#30B868;   
    border-radius: 4px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 0px;
}

/* banner */

.banner{
    background-image: url(assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;  
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115px 120px;
    
}

/* .banner-content{
   max-width: 1360px;
    height: 379px;   
} */

.highlight{
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #30B868;
    border: 1px solid;
    border-radius: 20px;
     width: 229px;
    height: 35px; 
    padding-top: 10px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.green-h1{
    color: #30B868;
}

.p1{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding-top:16px ;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
    padding-top:32px ;  
    color: #FFFFFF;

}

.btn1{
    background-color: #30B868;
    border: none;
    border-radius: 2px ;
    padding: 10px 10px;
    color: #FFFFFF;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 10px ;
    color: #FFFFFF;
}