*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
    margin-left: 50px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px ;
    /* height: 92px; */
    width: 100%;
}

 .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
     margin-left: 700px; 
    
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000; 
    
}
nav .menu .btn{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    
    
}
.btn{
    background-color:#30B868;   
    border-radius: 4px;
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 0px;
    
}

/* banner */

.banner{
    background-image: url(assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;  
    background-size: cover;
    background-repeat: no-repeat;
   
    width: 100%;
    height: 660px;
    
}



.highlight  {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #30B868;
    border: 1px solid;
    border-radius: 20px;
     width: 229px;
    height: 35px; 
    padding-top: 10px;
    margin-left: 550px;
    margin-bottom: 20px;
    margin-right: 550px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.green-h1{
    color: #30B868;
}

.p1{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding-top:16px ;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
    padding-top:32px ;  
    color: #FFFFFF;

}

.btn1{
    background-color: #30B868;
    border: none;
    border-radius: 2px ;
    padding: 10px 10px;
    color: #FFFFFF;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 10px ;
    color: #FFFFFF;
}

/* .about-h1{
    color: #000000;
    font-weight: bold;
    font-size: 48px;
     display: flex;
     align-items: center; 
    justify-content: center; 
    padding-bottom: 16px;
    padding-top :20px; ;
} */
/* .about-p{
    color: #627382;
    font-weight: 600;
    font-size: 18px;
     display: flex;
     align-items: center; 
    justify-content: center;
    padding-top: 16px;
} */
 
#info .info-container{
   max-width: 1360px;
   width: 80%;
   margin: 0 auto ;
}

.section-heading{
     margin-left: 120px;
    margin-right: 120px; 
    text-align: center;
    margin-top:80px ;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

#info .info-container .info-box{
    display: flex; 
    gap: 24px;
    text-align: center;
}

.info-box .info-card{
     padding: 145px 48px 125px 24px; 
}
.info-card p{
    margin-top: 10px;
    color: #627382;
    font-size: 16px;
}
.info-card img{
    max-width: 60px;
    margin-bottom: 16px; 
    background-color: #fd6666;
    border-radius: 25px;
    padding: 5px;
}
.info-card h3{
    margin-bottom: 16px;
    color:#001931 ;
    font-size: 16px;
}


.second-banner-content{
     flex: 10;
     padding-left: 600px; 
     margin-top: 30px; 
     padding-top: 20px;
     
     
}

  .second-banner-content-list li{
   list-style: none;
   padding-left: 600px;
   display: flex;
   
}
 #second-banner{
    display: flex;
    justify-content: right;
    margin: 120px; 
 }
 .fix{
    margin-top: 140px;
    margin-right: 250px;
    
    
 }

 .second-banner-image img{
    margin-left: 150px;

 }
